*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
}

.img-container{
    width: 600px;
    height: 400px;
}

.title-desc{
    color: white;
    position: absolute;
    right: 0;
    margin-right: 150px;
    bottom: 35%;
}

.para-desc{
    color: white;
    position: absolute;
    right: 0;
    margin-right: 150px;
    bottom: 26%;
    text-align: end;
    font-size: 0.9em;
    padding: 5px;
}

.active{
    display: flex!important;
    align-items: center;
    justify-content: center;
}

.div-arrow{
    width: 25px;
    height: 25px;
    border-radius: 10px;
    font-size: small;
    opacity: 0.75;
    cursor: pointer;
}